{% extends 'main/base.html' %}

{% block title %}
    Orders Index
{% endblock title %}

{% block main %}
    <div class="col-md-6">
        <h1 class="mb-5 border-bottom pb-4">Orders index page</h1>

        {% for order in orders %}

        <div class="card mb-5">
        <div class="card-header">
            <b>No. {{ order.id }}</b> placed at: {{ order.time }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Address</h5>
            <p class="card-text">{{ order.address }}</p>
            <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">View</a>
        </div>
        </div>

        {% endfor %}
    </div>

{% endblock main %}