{% extends 'main/base.html' %}



{% block title %}
    Hello, world!
{% endblock title %}

{% block main %}
    
    <!-- Space left -->
    <div class="col-md-1"></div>
    <!-- end space left -->

    <!-- Medu item -->
    <div class="col-md-6">
        <h1 class="text-center py-2 mb-5 mt-2 border-bottom">Our Menu</h1>
        <div class="row">
            
            <!-- start regular pizza -->
            <div class="col-md-6">   
                <h4 class="text-center mb-2">Regular Pizzas</h4>             
                <table data-category="Regular Pizza" class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Small</th>
                        <th scope="col">Large</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in regular_pizza %}                            
                            {% if item.size == small %}
                                <tr class="pizzaItemRow">
                                <td>{{item.name}}</td>
                            {% endif %}
                            {% if item.size == small %}
                                <td>{{ item.price }}</td>
                            {% endif %}
                            {% if item.size == large %}
                                <td>{{ item.price }}</td>
                                </tr>
                            {% endif %}                            
                        {% endfor %}
                    </tbody>
                </table>  
            </div>
            <!-- end regular pizza -->

            <!-- start sicilian pizza -->
            <div class="col-md-6">
                <h4 class="text-center mb-2">Sicilian Pizzas</h4>             
                <table data-category="Sicilian Pizza" class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Small</th>
                        <th scope="col">Large</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in sicilian_pizza %}                            
                            {% if item.size == small %}
                                <tr class="pizzaItemRow">
                                <td>{{item.name}}</td>
                            {% endif %}
                            {% if item.size == small %}
                                <td>{{ item.price }}</td>
                            {% endif %}
                            {% if item.size == large %}
                                <td>{{ item.price }}</td>
                                </tr>
                            {% endif %}                            
                        {% endfor %}
                    </tbody>
                </table>  
            </div>  
            <!-- end sicilian pizza -->

            <!-- <h4 class="text-center mb-2">Toppings</h4>             
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in toppings %}  
                        <tr>
                            <td>{{item.name}}</td>
                        </tr>     
                    {% endfor %}
                </tbody>
            </table>     -->
            <!-- start subs -->
            <div class="col-md-6">
                <h4 class="text-center mb-2">Subs</h4>             
                <table class="table table-hover" data-category="Subs">
                    <thead>
                        <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Small</th>
                        <th scope="col">Large</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in subs %}                            
                            {% if item.size == small %}
                                <tr class="pizzaItemRow">
                                <td>{{item.name}}</td>
                            {% endif %}
                            {% if item.size == small %}
                                <td>{{ item.price }}</td>
                            {% endif %}
                            {% if item.size == None %}
                                <td>{{ item.name }}</td>
                                <td></td>
                                <td>{{ item.price }}</td>
                                </tr>
                            {% endif %}      
                            {% if item.name == "Sausage, Peppers and Onions" %}       
                                <tr class="pizzaItemRow">  
                                <td >{{ item.name }}</td>
                                <td></td>
                            {% endif %}        
                            {% if item.size == large %}
                                <td>{{ item.price }}</td>
                                </tr>
                            {% endif %}  
                        {% endfor %}
                    </tbody>
                </table>    
            </div>
            <!-- end subs -->

            <!-- start salad, pasta, platters -->
            <div class="col md-6">
                <div class="row">
                    <!-- start Pasta -->
                    <div class="col-md-12">
                        <h4 class="text-center mb-2">Pasta</h4>             
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Large</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in pasta %}  
                                    <tr class="itemRow" data-price="{{ item.price }}" data-name="{{ item.name }}" data-category="{{ item.category }}">  
                                        <td>{{item.name}}</td>                        
                                        <td>{{item.price}}</td>  
                                    </tr>                      
                                {% endfor %}
                            </tbody>
                        </table>    
                    </div>
                    <!-- end pasta -->

                    <!-- starrt salads -->
                    <div class="col-md-12">
                        <h4 class="text-center mb-2">Salads</h4>             
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Large</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in salads %}  
                                    <tr class="itemRow" data-price="{{ item.price }}" data-name="{{ item.name }}" data-category="{{ item.category }}">  
                                        <td>{{item.name}}</td>                        
                                        <td>{{item.price}}</td>  
                                    </tr>                      
                                {% endfor %}
                            </tbody>
                        </table>    
                    </div>
                    <!-- end salads -->

                    <!-- start dinner platters -->
                    <div class="col-md-12">
                        <h4 class="text-center mb-2">Dinner Platters</h4>             
                        <table class="table table-hover" data-category="Dinner Platters">
                            <thead>
                                <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Small</th>
                                <th scope="col">Large</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in dinner_platters %}  
                                    {% if item.size == small %}
                                        <tr class="pizzaItemRow">
                                        <td>{{item.name}}</td>
                                    {% endif %}
                                    {% if item.size == small %}
                                        <td>{{ item.price }}</td>
                                    {% endif %}
                                    {% if item.size == large %}
                                        <td>{{ item.price }}</td>
                                        </tr>
                                    {% endif %}                            
                                {% endfor %}
                            </tbody>
                        </table>   
                    </div>
                    <!-- end dinner platters  -->
                </div>
            </div>
            <!-- end salads, pasta, platters -->

        </div>
    </div>
    <!-- end menu items -->            

    <!-- space between menu and cart -->
    <div class="col-md-1"></div>
    <!-- end space between menu and cart -->

    <!-- start cart column -->
    <div class="col-md-3 ">
        <div class="row">
            <div class="col-md-12 mt-2 bg-info" id="cart-col">
                    {% if user.is_authenticated %}

                <div class="d-flex justify-content-between border-bottom py-2 my-2">
                    <h1 class="text-center text-light flex-fill">Cart</h1>

                    <button class="btn btn-primary text-uppercase" id="index-checkout">Checkout</button>
                </div>
                <div id="cart">                   
                    
                </div>
                {% else %}
                <div class="p-5 text-center">
                    <h3 class="text-light border-bottom pb-3">Login to add Items to your cart</h3>
                    <a href="{% url 'login' %}" class="btn btn-outline-light mt-3 btn-lg">Login</a>
                </div>
                {% endif %}
            </div>                
        </div>
    </div>
    <!-- end column cart column -->

    <!-- Space right -->
    <div class="col-md-1"></div>
    <!-- end space right -->

    <!-- Options modal -->
    <div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" id="modalClose" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="topping-row" class="row">
                    <div class="col-md-12">
                        <h4>Select Pizza toppings</h4>
                        <p id="options-left"></p>
                    </div>
                    <div class="col-md-6 left-list">
                            <h5 class="text-center text-light mb-2 py-2">Available Toppings</h5>
                        <ul id="toppings-list">                                
                            <!-- Toppings list to be added here -->
                        </ul>
                    </div>
                    <div class="col-md-6 right-list">
                            <h5 class="text-center text-light mb-2 py-2">Chosen Toppings</h5>
                        <ul id="chosen-toppings-list">                                
                            <!-- Toppings list to be added here -->
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 py-4">
                        <h5 class="text-center">Select your size:</h5>
                    </div>
                    <div class="col-md-6 text-center">                            
                        <div class="custom-control custom-radio">
                            <input type="radio" id="large-radio" name="sizeradio" value="large" class="custom-control-input">
                            <label class="custom-control-label" for="large-radio">Large</label>
                        </div>                                
                    </div>
                    <div class="col-md-6 text-center mb-5">                            
                        <div class="custom-control custom-radio">
                            <input type="radio" id="small-radio" name="sizeradio" value="small" class="custom-control-input">
                            <label class="custom-control-label" for="small-radio">Small</label>
                        </div>                                
                    </div>                        
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modalCancel" data-dismiss="modal">Cancel</button>
                <button type="button" id="modalCartAdd" class="btn btn-primary">Add to Cart</button>
            </div>
            </div>
        </div>
    </div>

    

    <script>        
        const itemRow = document.querySelectorAll('.itemRow');
        const pizzaItemRow = document.querySelectorAll('.pizzaItemRow');
        // main cart div
        const cartHtml = document.querySelector('#cart');
        // Get topping element lists
        const toppingList = document.querySelector('#toppings-list');
        const chosenToppingList = document.querySelector('#chosen-toppings-list');
        const sizeRadio = document.querySelectorAll('input[name=sizeradio]');

        {% if user.is_authenticated %}
            const username = `{{ user.username }}` 
        {% else %}
        // disable add hover button if user is not logged in
            pizzaItemRow.forEach(item =>{
                    item.removeAttribute('class', 'pizzaItemRow')
            })
            itemRow.forEach(item =>{
                    item.removeAttribute('class', 'pizzaItemRow')
            })

        const username = undefined;

        {% endif %}

        var allToppings = []
        {% for topping in toppings %}
            allToppings.push(`{{ topping }}`)
            allToppings.sort()
        {% endfor %}

        // set empty array on page load
        var availToppings = [];
        // add to avail toppings from server on page load
        allToppings.forEach(item => availToppings.push(item))
        
    </script>
{% endblock main %}
