body {
  background-color: #fff;
  line-height: 1; }

#cartItem {
  position: relative;
  display: block;
  overflow: hidden; }

#cartItem:hover .del-btn {
  transform: translateX(0px); }

.del-btn {
  right: 0;
  top: 0;
  width: 40px;
  transform: translateX(100px);
  background-color: red;
  position: absolute;
  transition: transform ease-in 0.2s;
  line-height: 2.2;
  text-align: center;
  height: 100%;
  cursor: pointer; }
